[submodule "openthread"]
	path = openthread
	url = https://github.com/vuljector/openthread
[submodule "third_party/Realtek/rtl87x2g_sdk"]
	path = third_party/Realtek/rtl87x2g_sdk
	url = https://github.com/vuljector/rtl87x2g_sdk
